body{
    background-color: rgb(240, 183, 183);

    color: rgba(110, 12, 72, 0.767);

}
main{
    padding:1.5rem;
}
.card{
    display:inline-block;
}
label{
display:block;
}
.card-img-top{
    width:18rem;
    height: 18rem;
    object-fit: cover;
}